.image-container-horizontal-styles {
  display: flex;
}

.image-container-vertical-styles {
  display: flex;
  flex-direction: column;
}

.image-block-style {
  margin-right: 15px;
}

.image-styles {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
