/*Стили для базового лэйаута*/
.main-layout-style {
  width: 100%;
  padding: 25px 40px;
}

/*Стили для шапки базового лэйаута*/
.main-layout-header-style {
  border: 1px solid rgb(235, 237, 240);
}
