.forum-list-item-style {
  padding: 0px !important;
}

.forum-list-item-style:hover {
  cursor: pointer;
}

.forum-list-item-avatar-col-style {
  margin: 20px 10px 20px 0;
}

.forum-list-item-data-col-style {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forum-list-item-title-style {
  margin-bottom: 10px;
}
