.list-item-style {
  display: inline;
  margin-right: 10px;
}

.list-item-date-style {
  font-weight: bold;
}

.list-style {
  margin-left: 0;
  margin-left: -40px;
}

.question-header-style {
  display: flex;
  justify-content: space-between;
}
