/*Стили контейнера с вопросом*/
.answer-container-styles {
  display: flex;
  margin-bottom: 20px;
  width: 50%;
  position: relative;
  padding: 15px;
}

/*Стили блока с аватаром*/
.answer-avatar-block-styles {
  display: flex;
  align-items: center;
}

/*Стили разделителя между блоком автара и ответом на вопрос*/
.divider-styles {
  height: 100% !important;
}

/*Стили для отображения времени, когда был задан вопрос*/
.creation-time-styles {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
}

/*Стили для контейнера с объяснением*/
.explanation-container-styles {
  width: calc(100% - 70px);
  display: flex;
}

/*Стили для отображения автора вопроса*/
.answer-author-styles {
  color: #0077cc;
}

/*Стили для текста объяснения*/
.answer-data-styles {
  margin-bottom: 10px;
}
