.answer-container-styles {
  display: flex;
  margin-bottom: 20px;
  width: 50%;
  position: relative;
  padding: 15px;
}

.answer-avatar-block-styles {
  display: flex;
  align-items: center;
}

.divider-styles {
  height: 100% !important;
}

.creation-time-styles {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
}

.explanation-container-styles {
  width: calc(100% - 70px);
  display: flex;
}

.answer-author-styles {
  color: #0077cc;
}

.answer-data-styles {
  margin-bottom: 10px;
}
