/*Стили для контейнера ссылок*/
.links-panel-style {
  display: flex;
  justify-content: space-between;
}

/*Стили для элемента контейнера ссылок*/
.link-panel-item {
  font-size: 20px;
  margin-right: 10px;
}

/*Стили иконки приложения*/
.app-icon-style {
  height: 36px;
  width: 36px;
  margin-right: 20px;
  margin-left: 8px;
}
