/*Стили для контейнера главной страницы*/
.main-page-items-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/*Стили для верхнего элемента выпадающего меню*/
.questions-limit-header-styles {
  font-size: 18px;
  margin-bottom: 10px;
}

/*Стили для пустого контейнера*/
.empty-questions-styles {
  margin-bottom: 15px !important;
}
